/* folha de estilo da barra de navegação */
:root {
    /* Organização de paleta de cores navbar */
    --cor-fundo: #000;
    --rito-red: #d13639;
    --cor-texto: #FFF;
    --cor-submenu: #1d1d1d;

    /* Organizando o tamanho da fonte */
    --menu-font: 13.5pt;
    --dropdown-fontsize: 12pt;
}

/* font dos icones utilizados na navbar */
@font-face {
    font-family: 'Icons';
    font-style: normal;
    src: url('../fontawesome/webfonts/fa-solid-900.woff2') format('woff');
}

/* posicionando o icone "depois" da class icon */
.icon::after {
    font-family: 'Icons';
    content: "\f0d7"; /* seta para baixo */
    margin-left: 5px;
}

/* estruturando o navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 75px;
    margin: 0;
    background-color: var(--cor-fundo);
}

/* imagem que fica no canto esquerdo (logo da empresa) */
.nav-logo {
    height: 100%; /* ajustando tamanho da imagem */
    width: auto;
    margin: 0; /* garantindo que toca o container todo do anchor */
}

/* Referente a imagem do canto superior esquerdo que é uma anchor também */
.link-logo {
    height: 90%; /* ajustando o tamanho do anchor */
    width: auto;
    margin-left: 15px; /* distanciar a logo da "parede" da esquerda */
    margin-top: 5px; /* distanciar os itens da lista da barra do "teto" */
}

/* Botão do "Jogue agora" na direita */
.btn-login {
    font-family: Arial;
    color: var(--cor-texto);
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    background-color: var(--rito-red);
    border: 1px solid var(--rito-red);
    border-radius: 5px;
    text-decoration: none;
    margin-right: 40px;
    border-radius: 30px;
}

/* Icone positionado antes do botão */
.btn-login::before {
    font-family: 'Icons';
    content: "\f007"; /* Icone de usuario */
    margin-right: 6px;
}

.btn-login:hover {
    color: var(--cor-fundo);
}

nav ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    list-style-type: none;
    gap: 50px;
    margin-right: 300px;
}

.nav-item {
    font-family: serif; 
    font-weight: bold;
    font-size: var(--menu-font);
}

nav li a {
    text-decoration: none;
    color: var(--cor-texto);
    display: block;
}

.nav-item:hover {
    color: var(--rito-red);
}

/* Dropdown box - Caixa que aparece no hover do botão "Mais" */
.dropdown-content {
    background-color: var(--cor-fundo);
    position: absolute;
    display: none;
    border-radius: 5px;
    max-width: 150px;
}

.dropdown-content ul {
    flex-direction: column;
    padding: 10px;
    width: 100%;
    gap: 15px;
    border-top: 4px solid var(--rito-red);
    background-color: var(--cor-submenu);
}

.dropdown-content ul li a {
    font-size: var(--dropdown-fontsize);
}

nav ul li:hover .dropdown-content {
    display: block;
    padding-top: 22px;
}
