body {
    grid-template-columns: repeat(4, 1fr); /* 4 colunas de tamanho igual */
    grid-template-rows: 75px 575px 500px 500px 150px; /* 6 linhas de tamanhos diferentes */
    /* ORGANIZAÇÃO: NAVBAR, APRESENTAÇÃO, TEXTO QUEM SOMOS, SEDE DA RITO, FOOTER */
}

footer {
    /* Posicionamento no GRID do body*/
    grid-column: 1/5;
    grid-row: 5;
}

.slideshow-container {
    grid-column: 1/5;
    grid-row: 2;
    overflow: hidden;
    
    grid-template-columns: repeat(10, 1fr); /* 4 colunas de tamanho igual */
    gap: 30px;
}

.slideshow-container img {
    width: 100%;
    object-fit: contain;
}

.slide {
  display: none;
    
}

.fade {
    opacity: 100%;
}

.slide-texto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;

    position: absolute;
    top: 75px;
    background-color: rgba(0,0,0,0.6);

    color: white;
    text-align: center;
    font-family: 'Teste1';

    width: 100%;
    height: 575px;
}

.slide-texto span {
    font-weight: bold;
    font-size: 15pt;
}

.slide-texto h2 {
    font-weight: bold;
    font-size: 36pt;
}

.slide-texto p {
    font-weight: bold;
    font-size: 12pt;
    width: 40%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 75px;
  padding: 16px;
  color: rgba(255,255,255,0.6);
  font-weight: bold;
  font-size: 38px;
  user-select: none;
  background-color: rgba(34, 34, 34, 0.1);
  height: 575px;
  width: 50px;

  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev:hover, 
.next:hover {
    background-color: rgba(34, 34, 34, 0.9);
    color: rgba(255,255,255,1);
    font-size: 52px;
    width: 75px;
}

.prev { left: 0; }
.next { right: 0; }

.dots {
    position: absolute;
    top: 620px;

    width: 100%;
    height: 25px;

    display: flex;
    justify-content: center;
    gap: 20px;
}

.dot {
  cursor: pointer;
  height: 25px;
  width: 25px;
  background-color: #717171;
  border-radius: 50%;
  display: inline-block;
}

.active, .dot:hover {
  background-color: #bbb;
}

.quem-somos {
    /* Posicionamento no GRID do body*/
    grid-column: 1/5;
    grid-row: 3;

    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quem-somos .container {
    /* Posicionamento no GRID do body*/
    grid-column: 1/5;
    grid-row: 2;

    display: flex;
    flex-direction: row;
    align-items: center;

    width: 60%;
    max-width: 800px;
    height: auto;

}

.quem-somos .container img {
    width: 25%;
    height: auto;

}

.quem-somos .container div {
    margin-left: auto;
}

.quem-somos .container h2 {
    font-size: 16pt;
    font-weight: bold;
    text-transform: uppercase;
}

.quem-somos .container p {
    width: 450px;
    max-width: 100%;
    height: auto;
    text-align: justify;

}

.sede {
    /* Posicionamento no GRID do body*/
    grid-column: 1/5;
    grid-row: 4;

    background: linear-gradient(110deg, RGB(34, 34, 34) 55%, transparent 45%),
    url("../../utils/img/sede_rito.jpg");
    background-size: contain;
    background-position: right;
    z-index: 2;

    display: grid;
    grid-template-columns: repeat(2, 1fr); /* NADA VAI NO GRID COLUMN 2 POR CAUSA DA IMAGEM */
}

.sede .container {
    grid-column: 1;
    color: white;
    font-family: 'Times New Roman';
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 50px;
}

.sede .container h2 {
    font-size: 28pt;
    text-transform: uppercase;
}

.sede .container p {
    font-size: 11pt;
    margin-top: 20px;

}

.sede .container button {
    border: none;
    align-self: center;
    font-family: Arial;
    color: white;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    background-color: #d13639;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 20px;
    margin-top: 40px;
    border-radius: 30px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.sede .container button:hover {
    color: black;
}