body {
    grid-template-columns: repeat(4, 1fr); /* 4 colunas de tamanho igual */
    grid-template-rows: 75px 625px 500px 500px 150px; /* 6 linhas de tamanhos diferentes */
    /* ORGANIZAÇÃO: NAVBAR, APRESENTAÇÃO, TEXTO QUEM SOMOS, SEDE DA RITO, FOOTER */
}

footer {
    /* Posicionamento no GRID do body*/
    grid-column: 1/5;
    grid-row: 5;
}

.apresentacao {
    grid-column: 1/5;
    grid-row: 2;
    overflow: hidden;
    background-image: url("../../utils/img/empresa_campeonato.png");
    background-repeat: no-repeat;
    background-position: center -20px;
    background-size: cover;
    
    grid-template-columns: repeat(10, 1fr); /* 4 colunas de tamanho igual */
    gap: 30px;
}


.quem-somos {
    /* Posicionamento no GRID do body*/
    grid-column: 1/5;
    grid-row: 3;

    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quem-somos .container {
    /* Posicionamento no GRID do body*/
    grid-column: 1/5;
    grid-row: 2;

    display: flex;
    flex-direction: row;
    align-items: center;

    width: 60%;
    max-width: 800px;
    height: auto;

}

.quem-somos .container img {
    width: 25%;
    height: auto;

}

.quem-somos .container div {
    margin-left: auto;
}

.quem-somos .container h2 {
    font-size: 16pt;
    font-weight: bold;
    text-transform: uppercase;
}

.quem-somos .container p {
    width: 450px;
    max-width: 100%;
    height: auto;
    text-align: justify;

}

.sede {
    /* Posicionamento no GRID do body*/
    grid-column: 1/5;
    grid-row: 4;

    background: linear-gradient(110deg, RGB(34, 34, 34) 55%, transparent 45%),
    url("../../utils/img/sede_rito.jpg");
    background-size: contain;
    background-position: right;
    z-index: 2;

    display: grid;
    grid-template-columns: repeat(2, 1fr); /* NADA VAI NO GRID COLUMN 2 POR CAUSA DA IMAGEM */
}

.sede .container {
    grid-column: 1;
    color: white;
    font-family: 'Times New Roman';
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 50px;
}

.sede .container h2 {
    font-size: 28pt;
    text-transform: uppercase;
}

.sede .container p {
    font-size: 11pt;
    margin-top: 20px;

}

.sede .container button {
    border: none;
    align-self: center;
    font-family: Arial;
    color: white;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    background-color: #d13639;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 20px;
    margin-top: 40px;
    border-radius: 30px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.sede .container button:hover {
    color: black;
}