body {
    grid-template-columns: repeat(9, 1fr); /* 4 colunas de tamanho igual */
    grid-template-rows: 75px auto 160px; /* 6 linhas de tamanhos diferentes */
    /* ORDEM: HEADER, NOTICIAS, FOOTER  740px*/ 
}

/* ==================== Sidebar ==================== */
aside {
    grid-column: 1/3;
    grid-row: 2;
    width: 100%; height: 100%;
    background-color: #1e1e2f;
    color: #fff;
    position: static; /* ou relative */
    padding: 20px;
    overflow-y: visible; /* não precisa de scroll */
    padding-top: 40px;
}

.container-filtro span {
    font-weight: bold;
    font-size: 1.2em;
    display: block;
    margin-bottom: 15px;
}

.container-filtro ul {
    list-style: none;
    padding: 0;
}

.container-filtro li {
    margin-bottom: 20px;
    font-size: 1em;
}

.opcao {
    display: inline-block;
    padding: 6px 12px;
    margin: 5px 5px 0 0;
    border-radius: 6px;
    font-size: 0.9em;
    cursor: pointer;
    transition: background 0.3s;
}

.default {
    color: #fff;
    background: rgba(42, 42, 64, 0.7);
}

.clicked {
    background: rgba(32, 32, 84, 1);
}

.opcao:hover {
    background: #3e3e60;
}

main {
    grid-column: 3/10;
    grid-row: 2;
    background-color: white;
}

.ultimas-noticias {
    grid-column: 3/10;
    grid-row: 2;

    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    height: 100%; width: auto;
    gap: 30px;

    background-color: white;
}

.ultimas-noticias h1 {
    font-family: 'Teste';
    font-weight: bold;
    font-style: italic;
    font-size: 28pt;
    margin: 40px 0px 0px 40px;
}

.container-noticias {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
    

    margin: 0px 40px 0px 40px;
}

.noticia {
    width: 48%; height: auto;
    
}

.noticia-moldura {
    width: 100%; height: auto;
    overflow: hidden;
}

.noticia-moldura img{
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.noticia-moldura img:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.noticia-info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 8px 0px 8px 0px;
}

.noticia-info span {
    font-family: 'Teste';
    
}

.noticia-categoria {
    font-weight: bold;
    font-size: 11pt;
    color: rgba(200, 170, 110, 1);
}

.noticia-info hr {
    font-size: 10pt;
}

.noticia-data {
    font-size: 12pt;
}

.noticia-descricao {
    font-family: 'Roboto';
    text-align: justify;
}

.noticia-titulo {
    font-weight: bold;
    font-size: 14pt;
    margin-bottom: 5px;
}

.noticia-conteudo {
    font-size: 11pt;
}

.load-btn {
    width: 160px;
    height: auto;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    align-self: center;
    transition: all 0.3s ease;
}

.load-btn:hover {
    transform: translateY(-3px);
    background-color: rgba(200, 170, 110, 1);
}


footer {
    grid-column: 1/10;
    grid-row: 3;
}