/* Import de fonte Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
    box-sizing: border-box;
    font-size: 12pt;
    padding: 0;
    margin: 0;
}

:root {
    font-family: 'Teste', 'roboto', 'sans-serif';
}

/* fonte dos icones utilizados na navbar */
@font-face {
    font-family: 'Icons';
    font-style: normal;
    src: url('/src/utils/fontawesome/webfonts/fa-solid-900.woff2') format('woff2');
}

@font-face {
    font-family: 'Brands';
    font-style: normal;
    src: url('/src/utils/fontawesome/webfonts/fa-brands-400.woff2') format('woff');
}

@font-face {
    font-family: 'Teste';
    font-style: normal;
    src: url('../../fontes/Fonts_Riot/BeaufortForLoL-TTF/BeaufortforLOL-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Spiegel-bold';
    font-style: normal;
    src: url('../../utils/fontes/Fonts_Riot/Spiegel-TTF/Spiegel_TT_bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Spiegel-regular';
    font-style: normal;
    src: url('../../utils/fontes/Fonts_Riot/Spiegel-TTF/Spiegel_TT_Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Wilhem';
    font-style: normal;
    src: url('../../utils/fontes/Educated-Deers-Regular/big_noodle_titling.ttf') format('truetype');
}

body {
    display: grid; /* Transforma o body em um plano bidimensional, melhor para se trabalhar */
    background-color:  rgb(30, 30, 30); /* COR PRETO SUAVE */
    background: linear-gradient(90deg, rgb(0, 0, 0), #261219, rgb(0, 0, 0));
}

a {
    text-decoration: none;
}
